<a href="https://colab.research.google.com/github/karlavalentinbaena/POO-Phyton/blob/main/lunesPOO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Esto es un comentario
print("Hola Mundo")  # Esto imprime "Hola Mundo"

Hola Mundo

In [ ]:
!ls -a

.  ..  .config	sample_data

In [ ]:
print("Hola", "Mundo")

print("Hola" + "Mundo")

print("Hola", "Mundo", sep="-")  # Imprime: Hola-Mundo

print("Hola", end="")
print("Mundo")  # Imprime: HolaMundo

Hola Mundo
HolaMundo
Hola-Mundo
HolaMundo

In [ ]:
nombre = "José"
carrera = "ICO, la mejor"
print("Mi nombre es {} y estudio {} en la FES Aragón".format(nombre, carrera))
print(f"Mi nombre es {nombre} y estudio en {carrera} dentro de la FES") #Formato f
print(f"Mi nombre es {nombre*2} y estudio en {carrera} dentro de la FES")

Mi nombre es José y estudio ICO, la mejor en la FES Aragón
Mi nombre es José y estudio en ICO, la mejor dentro de la FES
Mi nombre es JoséJosé y estudio en ICO, la mejor dentro de la FES

In [ ]:
# Operadores aritméticos
suma = 5 + 3    # 8
resta = 5 - 3   # 2
producto = 5 * 3  # 15
division = 5 / 3  # 1.66667
division2 = 5 // 3 # 1
modulo = 5 % 3   # 2
potencia = 5 ** 3  # 125

In [ ]:
producto

15

In [ ]:
# Operadores de comparación
igual = 5 == 3  # False
diferente = 5 != 3  # True
mayor_que = 5 > 3  # True
menor_que = 5 < 3  # False
mayor_o_igual_que = 5 >= 3  # True
menor_o_igual_que = 5 <= 3  # False

In [ ]:
igual

False

In [ ]:
# Operadores lógicos
y = True and False  # False
o = True or False  # True
no = not True  # False

In [ ]:
no

False

In [ ]:
saludo = "Hola Mundo"
cita = 'Los alumnos de ICO dicen: "Hola Mundo"'
parrafo = """Esto es un párrafo
que abarca varias
líneas"""

In [ ]:
cita

'Los alumnos de ICO dicen: "Hola Mundo"'

In [ ]:
def fn_uno():
    print("Hola")

a, b, c = 10, "Hola", [2.3, 3.4]
print(a)
print(b)
print(c[1])

10
Hola
3.4

In [ ]:
# entrada por teclado
nombre = input("Por favor, introduce tu nombre: ")
print(f"Hola {nombre}!")

Por favor, introduce tu nombre: Karla
Hola Karla!

In [ ]:
edad = int(input("Introduce tu edad:"))
print(f"{nombre} tiene {edad} años")

Introduce tu edad:20
Karla tiene 20 años

In [ ]:
mensaje = "Hola Mundo"  # String
edad = 20               # Integer
pi = 3.14159            # Float
es_mayor = True         # Boolean
imaginario = 3 + 4j     # Imaginario

In [ ]:
imaginario

(3+4j)

In [ ]:
frutas = ['limon','aguacate','fresa'] #lista
print(frutas[2])
print(frutas[-3])

fresa
limon

In [ ]:
cosas =['limon', 10, 3.1416, True, [1,2,3], "hola"]
print(cosas)

['limon', 10, 3.1416, True, [1, 2, 3], 'hola']

#Slicyng en Phyton
[inicio : stop : step]
Es la posibilidad de obtener rebanadas a partir de un tipo de datos lista o tupla, en general de un iterable. Un tipo de dato string es un iterable.

Por defecto el inicio es igual a 0.
El stop es igual al tamaño de la variable.
step = 1

In [ ]:
ejemplo = [1,2,3,4,5,6, 'a','b','c','d','e']
print(ejemplo)

[1, 2, 3, 4, 5, 6, 'a', 'b', 'c', 'd', 'e']

In [ ]:
rebanada = ejemplo[2:6:1]
print(rebanada)

[3, 4, 5, 6]

In [ ]:
rebanadad = ejemplo[6:9:1]
print(rebanadad)

['a', 'b', 'c']

In [ ]:
#TUPLAS
frutas_dos = ('Aguacate', 'limon', 'naranja')
print(frutas)
print(frutas_dos)

frutas[1] = 'Piña' #Se cambia el elemento en posicion 1 en lista, en tupla no se puede
print(frutas[1])
print(frutas_dos[1])

print(frutas_dos[1:2:1])

['limon', 'aguacate', 'fresa']
('Aguacate', 'limon', 'naranja')
Piña
limon
('limon',)

#Diccionarios teoria

1.Es un conjunto de pares llave valor
2.Agrupados por ':'
3.La llave es de tipo string
4.el valor puede ser de cualquier tipo.
5.el selector es de la forma ['llave']
6.mutable
se declaran entre los caracteres '{ 'y'}'
los pares estan separados por comas.

In [ ]:
alumno = {'numero_cuenta' : 1232322 , 'carrera' : 'ICO' ,
            'direccion' : {'calle' : 'rancho seco', 'numero' : 23}
          }
print(alumno)
print(alumno ['carrera']) #selector
print(alumno['direccion']['numero'])
print(alumno['direccion']['calle'][3:6:1])

{'numero_cuenta': 1232322, 'carrera': 'ICO', 'direccion': {'calle': 'rancho seco', 'numero': 23}}
ICO
23
cho